<h1>{{title}}</h1>
<p>Who are you?</p>
<select>
  {{#each members}}
    <option data-id="{{@index}}" data-total-points="{{this.totalPoints}}" value="{{this.lastName}}-{{this.firstName}}">
      {{this.firstName}} {{this.lastName}}
    </option>
  {{/each}}
</select>

<p>You've got <span id="display-box"></span> points.</p>

<script src="javascripts/display-points.js"></script>